a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 95%;
}

hr {
    margin-left: 0;
    margin-bottom: 28px;
    border: solid 1px darkgrey;
    width: 610px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.child {
    width: 50%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.username {
    font-size: 35px;
    margin-bottom: 15px;
}

.user-profile {
    margin-left: 30px;
    width: 550px;
}