<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="column-container" style="max-width: 610px; margin: auto;">
        <!-- Header Section  -->
        <div class="row-container" style="width: 610px">
            <a href="/" class="child">Insta485</a>
            <div class="child" style="text-align: end">
                <a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </div>
        </div>
        <hr>
        <!-- Body Section -->
        <div id="reactEntry">
            Loading...
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </div>
</body>
</html>