<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/password.css">
</head>
<body>
<div class="column-container" style="max-width: 610px; margin: auto;">
    <!-- Header Section  -->
    <div class="row-container" style="width: 610px">
        <a href="/" class="child">Insta485</a>
        <div class="child" style="text-align: end">
            <a href="/explore/">explore</a> |
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </div>
    <hr>
    <!-- Body Section -->
    <div style="margin-left: 50px" class="column-container">
        <!-- DO NOT CHANGE THIS -->
        <form action="/accounts/?target={{ url_for('edit') }}" method="post" enctype="multipart/form-data">
            <div class="row-container"> <p style="width: 35%; display: flex">Old password</p> <input type="password" name="password" required/> </div>
            <div class="row-container"> <p style="width: 35%; display: flex">New password</p> <input type="password" name="new_password1" required/> </div>
            <div class="row-container"> <p style="width: 35%; display: flex">New password, again</p> <input type="password" name="new_password2" required/> </div>
            <div class="row-container"> <p style="width: 35%; display: flex"></p> <input style="width: 15%" type="submit" name="update_password" value="submit"/></div>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/">Back to edit account</a>
    </div>
</div>
</body>
</html>